@import "../../scss/variables";

.form {
    padding: 4rem;
    margin-top: 64px;

    &-content {
        border: 1px solid $gray-1;
        border-radius: 15px;
        padding: 2rem;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

        .error {
            color: red;
            font-size: $font-size-14;
            margin-top: .5rem;
        }

        input[type="file"] {
            display: none;
        }

        .form-label {
            font-size: $font-size-16;
            font-weight: $font-weight-600;
        }

        .form-control {
            padding: 0.5rem 1rem;
        }

        .col-lg-6,
        .col-12 {
            margin-top: 1rem;
        }

        button {
            padding: 0.5rem 1rem;
            border-radius: 20px;
            border: 1px solid $black;
            background: transparent;
            transition: $transition-075;

            &:disabled {
                pointer-events: none;
                cursor: default;
                opacity: .25;
            }
            &:hover {
                background: $gray-1
            }
        }

        .add-image {
            padding: 0;
            border: 0;
            display: flex;
            margin: auto 0;
            margin-right: 1rem;
            border-radius: 0;
            transition: $transition-075;
            flex-direction: column;

            label:hover {
                background: $gray-1;
            }

            label {
                cursor: pointer;
            }
            
            svg {
                width: 24px;
                height: 24px;
                margin-right: .5rem;
            }
        }

        .add-image-container {
            width: 100%;
            margin-top: 1rem;

            .row {
                align-items: flex-start;

                img {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}