
<footer>
  <div class="footer-wrapper">
    <div class="footer-main">
      <div class="row">
        <div class="footer-main-content col-12">
          &copy; 2022 Alson Tan
        </div>
      </div>
    </div>
  </div>

</footer>
